<!DOCTYPE html>
<html>
  <head>
    <title>Tunagari</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


    <body>
      <div id="wrap">
        <header>
          <ul>
          </ul>
        </header>
        <div id="contents">
          <%= yield %>
        </div>
          <footer>
            <p>Tunagari</p>
          </footer>
        </div>
    </body>
  </html>
